server:
  port: ${PORT:8081}
spring:
   datasource:
     url: jdbc:mysql://localhost:3306/react_spring
     username: Shiva
     password: 12345

   jpa:
     hibernate:
       ddl-auto: update
     show-sql: true
     properties:
       hibernate:
         dialect: org.hibernate.dialect.MySQLDialect